# Environment variables
.env

# Local config files
application-local.yml
application-local.properties

# Sensitive configs (optional if needed)
src/main/resources/application.yml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db